<ion-content class="signin-bg">
  <div class="signin-container">
    <div class="signin-card">

      <h1 class="logo">QUIZER</h1>
      <h2 class="title">Welcome Back</h2>
      <p class="subtitle">Login using Username or Email</p>

      <form
        #signinForm="ngForm"
        (ngSubmit)="onSignIn()"
        autocomplete="off"
        id="disable-autofill"
        novalidate>

        <!-- Hidden autofill breakers -->
        <input type="text" style="display:none" autocomplete="off">
        <input type="password" style="display:none" autocomplete="new-password">

        <!-- EMAIL FIELD with ICON -->
        <div class="input-wrapper">
          <ion-item class="input-item" lines="none">
            <ion-label position="floating">Email or Username</ion-label>

            <ion-input
              type="text"
              [(ngModel)]="emailOrUsername"
              name="emailOrUsername"
              required
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              (ionInput)="validateEmail()"
              placeholder="john@example.com or johnsmith">
            </ion-input>
          </ion-item>

          <!-- ICON -->
          <img
            class="field-icon"
            [src]="isEmailValid ? 'assets/icon/email_click.png' : 'assets/icon/email.png'"
            alt="email icon">
        </div>

        <!-- PASSWORD -->
        <ion-item class="input-item" lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="6"
            autocomplete="new-password"
            placeholder="At least 6 characters">
          </ion-input>
        </ion-item>

        <p *ngIf="password && password.length < 6" class="error-msg">
          Password must be at least 6 characters
        </p>

        <div class="signin-button-wrapper">
          <ion-button expand="block" class="signin-button" type="submit" [disabled]="!signinForm.valid">
            Sign In
          </ion-button>
        </div>

      </form>

      <div class="signup-link">
  <ion-text>Don't have an account?</ion-text>
  <ion-text class="signup-text" (click)="goToSignup()"> Create one</ion-text>
</div>


    </div>
  </div>
</ion-content>
