/* Background */
.signin-bg {
  --background: linear-gradient(180deg, #f2fbf8, #f6fff9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Center container */
.signin-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

/* Card */
.signin-card {
  width: 92%;
  max-width: 430px;
  background: #ffffff;
  border-radius: 14px;
  padding: 26px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Logo */
.logo {
  font-size: 28px;
  color: #00c9a7;
  font-weight: 800;
}

/* Title text */
.title {
  font-size: 20px;
  color: #222;
}

.subtitle {
  color: #666;
  font-size: 14px;
}

/* INPUT WRAPPER WITH ICON */
.input-wrapper {
  position: relative;
  margin-top: 12px;
}

/* Icon inside input */
.field-icon {
  width: 22px;
  position: absolute;
  right: 16px;
  top: 18px;
  z-index: 10;
  pointer-events: none;
}

/* Input item style */
.input-item {
  --background: #fff;
  border-radius: 10px;
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #eee;
  overflow: visible !important;   /* IMPORTANT FIX */
}

ion-input {
  color: #222;
}

/* Error text */
.error-msg {
  color: #e53935;
  font-size: 12px;
  text-align: left;
  margin: -4px 0 10px 6px;
}

/* Sign-in button */
.signin-button {
  --background: linear-gradient(90deg, #a8e063, #56ab2f);
  --color: #fff;
  border-radius: 10px;
  height: 46px;
  font-weight: 700;
  font-size: 15px;
}
.signup-text {
  color: #00c9a7;
  font-weight: 700;
  cursor: pointer;
  margin-left: 4px;
  text-decoration: underline;
}
.top-toast {
  margin-top: 20px; /* optional spacing */
  text-align: center;
  font-weight: 600;
  border-radius: 8px !important;
  color: white;
}
.active-label ion-label {
  color: #2ecc71 !important;
  font-weight: 600;
}