<ion-header>
  <ion-toolbar>
    <ion-title>{{ meta.subject || 'Test' }}</ion-title>

    <div class="timer-box">
      <ion-icon name="hourglass-outline"></ion-icon>
      {{ formattedTime }}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="questions.length > 0; else noQuestions">

    <h3 class="q-num">Question {{ currentIndex + 1 }} / {{ questions.length }}</h3>

    <h2 class="q-text">{{ questions[currentIndex]?.question }}</h2>

    <!-- RADIO OPTIONS -->
    <ion-list class="options-list">
      <ion-radio-group [(ngModel)]="userAnswer" (ionChange)="onSelectOption()">
        <ion-item *ngFor="let opt of questions[currentIndex]?.options"
                  [class.selected]="userAnswer === opt">
          <ion-label>{{ opt }}</ion-label>
          <ion-radio slot="start" [value]="opt" color="success"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- NAV BUTTONS -->
    <div class="nav-buttons">
      <ion-button class="prev-btn" shape="round"
                  [disabled]="currentIndex === 0"
                  (click)="previous()">
        ← Previous
      </ion-button>

      <ion-button class="next-btn" shape="round"
                  *ngIf="currentIndex < questions.length - 1"
                  (click)="next()">
        Next →
      </ion-button>

      <ion-button class="submit-btn" color="success" shape="round"
                  *ngIf="currentIndex === questions.length - 1"
                  (click)="confirmSubmit()">
        Submit Test ✔
      </ion-button>
    </div>

  </div>

  <ng-template #noQuestions>
    <p>No questions loaded.</p>
  </ng-template>
  

</ion-content>
