.timer-box {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* QUESTION NUMBER */
.q-num {
  margin-top: 10px;
  font-size: 18px;
  color: #444;
  font-weight: 600;
}

/* QUESTION TEXT */
.q-text {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* OPTIONS RADIO LIST */
.options-list {
  margin-top: 20px;
  border-radius: 12px;
  background: #fafafa;
  padding: 5px;
}

ion-item {
  --background: transparent;
}

/* Navigation buttons */
.nav-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.submit-btn {
  background-color: #059669 !important;
  color: white !important;
   padding: 12px 22px;
  border-radius: 25px !important;
  font-weight: 600;
  text-transform: uppercase;
}


.prev-btn {
  padding: 12px 22px;
  border-radius: 25px !important;
  font-weight: 600;
  text-transform: uppercase;
  
}
.next-btn{
   padding: 12px 22px;
  border-radius: 25px !important;
  font-weight: 600;
  text-transform: uppercase;
}


/* === CUSTOM ALERT WRAPPER === */
.custom-submit-alert {
  --background: #fff;
  --max-width: 90%;
}

/* Align buttons */
.custom-submit-alert .alert-button-group {
  display: flex;
  justify-content: space-between !important;
  gap: 12px;
}

/* === CANCEL BUTTON → Red border + Red text === */
.custom-submit-alert .cancel-btn::part(button) {
  color: red !important;
  border: 2px solid red !important;
  background: transparent !important;
  border-radius: 10px !important;
  padding: 10px 18px !important;
  font-weight: 600;
  text-transform: uppercase;
}

/* === SUBMIT BUTTON → Green BG + White text === */
.custom-submit-alert .submit-btn::part(button) {
  background: green !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 10px 18px !important;
  font-weight: 600;
  text-transform: uppercase;
}