/* ===================================== */
/* ROOT FIXES */
/* ===================================== */

ion-tabs,
ion-tab-bar,
ion-router-outlet {
  overflow: visible !important;
}

ion-content {
  --padding-bottom: 130px;
}

/* ===================================== */
/* FORCE REAL TAB BAR GREEN */
/* ===================================== */

ion-tab-bar::part(container) {
  background-color: #bbf7d0 !important;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.25);
}

/* ===================================== */
/* TAB BAR */
/* ===================================== */

.green-tab-bar {
  height: 78px;
  overflow: visible !important;
}

/* ===================================== */
/* TAB BUTTON BASE */
/* ===================================== */

ion-tab-button {
  --background: transparent;
  --ripple-color: transparent;

  position: relative;
  flex-direction: column;

  background-color: #bbf7d0;
  font-size: 11px;

  z-index: 1;
  transition: all 0.3s ease;
}

/* ===================================== */
/* ICON BASE */
/* ===================================== */

.tab-icon {
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.3s ease, width 0.3s ease,
    height 0.3s ease;
}

/* ===================================== */
/* SELECTED FLOAT OUTSIDE */
/* ===================================== */


/* ===================================== */
/* LABEL */
/* ===================================== */

ion-label {
  margin-top: 4px;
  font-weight: 500;
}



/* ===================================== */
/* ICON IMAGES */
/* ===================================== */

.test-icon {
  background-image: url('/assets/icon/test.png');
}

.progress-icon {
  background-image: url('/assets/icon/progress.png');
}

.home-icon {
  background-image: url('/assets/icon/home.png');
}

.search-icon {
  background-image: url('/assets/icon/search.png');
}

.settings-icon {
  background-image: url('/assets/icon/settings.png');
}

/* ===================================== */
/* ACTIVE ICON IMAGE FOR ALL TABS */
/* ===================================== */

ion-tab-button.tab-selected .test-icon {
  background-image: url('/assets/icon/test_click.png');
}

ion-tab-button.tab-selected .progress-icon {
  background-image: url('/assets/icon/progress_click.png');
}

ion-tab-button.tab-selected .home-icon {
  background-image: url('/assets/icon/home_click.png');
}

ion-tab-button.tab-selected .search-icon {
  background-image: url('/assets/icon/search_click.png');
}

ion-tab-button.tab-selected .settings-icon {
  background-image: url('/assets/icon/settings_click.png');
}

/* ===================================== */
/* MOBILE */
/* ===================================== */

@media (max-width: 480px) {
  .green-tab-bar {
    height: 72px;
  }

  
}
