<ion-tabs>

  <ion-tab-bar slot="bottom" class="wave-tab-bar">

  
    <ion-tab-button tab="test" [routerLink]="['/tabs/test']">
       <ion-icon class="tab-icon test-icon"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" [routerLink]="['/tabs/progress']">
      <ion-icon class="tab-icon progress-icon"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon class="tab-icon home-icon"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" [routerLink]="['/tabs/search']">
      <ion-icon class="tab-icon search-icon"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/tabs/settings']">
      <ion-icon class="tab-icon settings-icon"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
