.signup-bg {
  --background: linear-gradient(180deg, #f2fbf8, #f6fff9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  margin-top:14px;
}

.signup-card {
  width: 92%;
  max-width: 430px;
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Wrapper for icon inside input */
.input-wrapper {
  position: relative;
}

/* ion-item should not hide icon */
.input-item {
  --background: #fff;
  border-radius: 10px;
   display: flex;
  align-items: center; 
 --padding-start: 14px;
  --padding-end: 46px;              /* space for icon */
  --padding-top: 16px;
  --padding-bottom: 16px;
  margin: 8px 0;
  border: 1px solid #eee;
  overflow: visible !important;
}
/* Space between title/subtitle and first input */
/* Add space between floating label and input text */


/* Push label slightly up for clean spacing */
.input-item ion-label {
  margin-bottom: 2px;
}
.input-item ion-input {
  min-height: 42px;
  display: flex;
  align-items: center;
}


/* Icon inside field */
.field-icon,
 .eye-icon {
 position: absolute;
  right: 14px;

  /* 🔥 REAL CENTER FIX */
  top: 50%;
  transform: translateY(-50%);

  width: 22px;
  height: 22px;

  z-index: 30;
}

.error-msg {
  color: #e53935;
  margin: 4px 0 8px 6px;
  font-size: 12px;
}

.signup-button {
  --background: linear-gradient(90deg, #a8e063, #56ab2f);
  --color: #fff;
  border-radius: 10px;
  height: 44px;
  font-weight: 700;
}

.signup-button-wrapper {
  margin-top: 14px;
}

.signin-text {
  color: #00c9a7;
  font-weight: 700;
  cursor: pointer;
}
.top-toast {
  margin-top: 20px;                /* optional spacing */
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 10px !important;
}
/* Label turns green when field valid */
/* Username label green when focused OR valid */
.valid-label ion-label {
  color: #2ecc71 !important;
  font-weight: 600;
}

/* Remove eye icon */
ion-input::-ms-reveal, 
ion-input::-ms-clear {
  display: none !important;
}
ion-input {
  --padding-top: 6px;
  --padding-bottom: 6px;
}
ion-item::part(native) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  align-items: center !important;
}

/* Disable browser default password eye */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle {
  display: none !important;
}
.eye-icon {
 pointer-events: auto;
  cursor: pointer;
}

