.signup-bg {
  --background: linear-gradient(180deg, #f2fbf8, #f6fff9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 92%;
  max-width: 430px;
  background: #ffffff;
  border-radius: 14px;
  padding: 26px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Wrapper for icon inside input */
.input-wrapper {
  position: relative;
}

/* ion-item should not hide icon */
.input-item {
  --background: #fff;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #eee;
  overflow: visible !important;
}

/* Icon inside field */
.field-icon {
  width: 22px;
  position: absolute;
  right: 16px;
  top: 18px;
  z-index: 10;
  pointer-events: none;
}

.error-msg {
  color: #e53935;
  font-size: 12px;
  margin: 6px 0 10px 6px;
}

.signup-button {
  --background: linear-gradient(90deg, #a8e063, #56ab2f);
  --color: #fff;
  border-radius: 10px;
  height: 46px;
  font-weight: 700;
}

.signup-button-wrapper {
  margin-top: 18px;
}

.signin-text {
  color: #00c9a7;
  font-weight: 700;
  cursor: pointer;
}
.top-toast {
  margin-top: 20px;                /* optional spacing */
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 10px !important;
}
/* Label turns green when field valid */
/* Username label green when focused OR valid */
.valid-label ion-label {
  color: #2ecc71 !important;
  font-weight: 600;
}

/* Remove eye icon */
ion-input::-ms-reveal, 
ion-input::-ms-clear {
  display: none !important;
}

input::-webkit-password-toggle {
  display: none !important;
}
