ion-content {
  --background: linear-gradient(to bottom right, #e0f7ff, #e0e7ff);
}

/* Center content */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.green-btn.outline-btn.small-btn {
  --background: transparent !important;
  --color: #10B981;
  --border-color: #10B981;
  --border-width: 2px;
  --border-style: solid;

  border-radius: 8px;
  font-weight: 600;
}
.green-btn.small-btn:not(.outline-btn) {
  --background: transparent !important;
  --color: #10B981;
  --border-color: #10B981;
  --border-width: 2px;
  --border-style: solid;

  border-radius: 8px;
  font-weight: 600;
}

.card {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

/* Titles */
.quiz-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.quiz-subtitle {
  margin-bottom: 20px;
  color: #555;
}

/* 🔥 REMOVE INPUT BACKGROUND */
.no-bg-item {
  --background: transparent;
  --border-color: #ddd;
  --highlight-height: 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Button Row */
.button-row {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: 16px;
}

/* Single button center */
.button-row.single {
  justify-content: center;
}

/* Button styles */
.green-btn {
  --background: transparent !important;
  --background-hover: transparent !important;
  --background-activated: transparent !important;
  --background-focused: transparent !important;

  --color: #10B981;               /* text color */
  --border-color: #10B981;
  --border-width: 2px;
  --border-style: solid;
  width: 50px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: none;
}
.back-btn::part(native) {
  background: transparent;
  color: gray;
  border: 2px solid gray;
  border-radius: 8px;
  
  width: 110px;   /* ⬅️ reduce width */
  height: 38px;       /* optional: reduce height */
  padding: 0 12px;    /* controls inner spacing */
  font-size: 13px;

  transition: color 0.25s ease, border-color 0.25s ease;
}
.back-btn:hover::part(native),
.back-btn:focus::part(native),
.back-btn.ion-focused::part(native),
.back-btn:active::part(native) {
  color: #10B981;
  border-color: #10B981;
}



/* Small buttons (logout style) */
.small-btn {
  min-width: 150px;
  height: 42px;
  font-size: 14px;
}

/* Outline back button */
.outline-btn {
  --background: #10B981;
  --border-color: #10B981;
  --color: #10B981;
 
 min-width: 2px;
}

/* Disabled state */
ion-button[disabled] {
  opacity: 0.5;
}
